/* Styles for profile page */
.form-table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: .5em;
	padding-top: -25px; clear: right;
}

.form-table td {
	margin-bottom: 9px;
	padding: 8px 10px;
	line-height: 20px;
	width: auto;
}

.form-table th,
.form-wrap label {
	font-weight: normal;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

.form-table th {
	vertical-align: top;
	text-align: left;
	padding: 10px;
	width: 250px;
}

.form-table th.th-full {
	width: auto;
}

.form-table input {
	margin-top: 2px;
	margin-right: 2px;
	float: left; display: inline;
	width: 250px;
}

.form-table .description {
	text-transform: none;
	clear: left; float: left;
	text-align: left;
	margin: 0; padding: 0;
	font-style: italic; font-size: 90%;
	
}

.form-table .required {
	font-weight: bold;
	color: #800;
}

.form-table .required2 {
	text-transform: none;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #800;
}